<article class="rental">
    <ActivityImage
        src={{@rental.image}}
        alt="A picture of {{@rental.title}}"
    />
    <div class="details">
        <h3>{{@rental.title}}</h3>
        <div class="detail owner">
            <span>Pris:</span> {{@rental.price}}
        </div>
        <div class="detail type">
            <span>Allmänt:</span> {{@rental.general}}
        </div>
        <div class="detail location">
            <span>Address:</span> {{@rental.address}}
        </div>
        <div class="detail bedrooms">
            <span>Kiosk:</span> {{@rental.store}}
        </div>
    </div>
   <Map
    @lat={{@rental.location.lat}}
    @lng={{@rental.location.lng}}
    @zoom="15"
    @width="150"
    @height="150"
    alt="A map of the dream-city Vara"
    />  
</article>